<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="/done" method="POST">
            <% k=0;%>
            <%  for(var i=0;i<print.length;i++){ %>
              
                <h1><%=++k%> <%= print[i].question %></h1>
                <input type="radio" name="<%=print[i].id %>"  value="<%= print[i].option1 %>"/><%= print[i].option1 %><br>
                <input type="radio" name="<%=print[i].id %>"  value="<%= print[i].option2 %>"/><%= print[i].option2 %><br>
                <input type="radio" name="<%=print[i].id %>" value="<%= print[i].option3 %>"/><%= print[i].option3 %><br>
                <input type="radio" name="<%=print[i].id %>"  value="<%= print[i].option4 %>"/><%= print[i].option4 %><br>
          <%  }%>
          <input type="hidden" value="<%=print.length %>" name="quelength">
          <input type="submit" value="submit">
        </form>
</body>
</html>